/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* global styles */

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #fafaf8;
}

/* header styles*/
.header {
  display: flex; 
  height: 75px;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.10);
  border-radius: 12px;
}

.header_logo {
  width: 65px;
  max-height: 75px;
  margin: 0;
}

.header_title {
  font-size: 2rem;
  font-weight: 400;
  color: #000000;
  margin-left: 10px;
} 

/* main styles */

main {
  padding: 30px 30px 10px;
}

/* form styles */

.add-ingredient-form {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 12px;
  height: 40px;
}

.add-ingredient-form > input {
  border-radius: 6px;
  border: 1px solid #d1d5db;
  padding: 8px 12px;
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.5);
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
}

.add-ingredient-form > button {
  font-family: Inter, sans-serif;
  background-color: #141413;
  color: #fafaf8;
  border-radius: 6px;
  border: 1px solid #141413;
  width: 150px;
  font-size: 0.875rem;
  font-weight: 500;
}
.add-ingredient-form > button:hover {
  cursor: pointer;
}

.add-ingredient-form > button::before {
  content: '+';
  margin-right: 4px;
}

/* get recipe container styles */

.get-recipe-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.25rem 0;
  padding: 0 1rem;
  background-color: #eeece8;
  border-radius: 10px;
}

.get-recipe-container > button {
  font-family: Inter, sans-serif;
  font-weight: 500;;
  background-color: #d1694f;
  border-radius: 5px;
  border: 1px solid #d1694f;
  padding: 0.5rem;
  color: whitesmoke;
}
.get-recipe-container > button:hover {
  cursor: pointer;
}

